<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts">
<head>
<title>个人面板</title>
</head>
<body>
<div layout:fragment="page-heading">
		<div class="col-lg-10">
			<h2>个人面板</h2>
			<ol class="breadcrumb">
				<li><a href="#">立</a></li>
				<li class="active"><strong>个人面板</strong></li>
			</ol>
		</div>
		<div class="col-lg-2"></div>
</div>
	<div layout:fragment="page-content">
		<div class="row m-b-lg m-t-lg">
			<div class="col-md-6">
				<div class="profile-image">
					<img src="../static/image/profile/profile.jpg" th:src="@{/image/profile/profile.jpg}"
						class="img-circle circle-border m-b-md" alt="profile">
				</div>
				<div class="profile-info">
					<div class="">
						<div>
							<h2 class="no-margins"
								th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.name}">Liaoyongjun</h2>
							<h4
								th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.email}">sobadname@gmail.com</h4>
							<small
								th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.email}">
								nothing... </small>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<table class="table small m-b-xs">
					<tbody>
						<tr>
							<td><strong>142</strong> 使用次数</td>
						</tr>
						<tr>
							<td><strong>2017-01-04 14:03:23</strong> 最近使用</td>
						</tr>
						<tr>
							<td><strong>2017-01-04 12:03:23</strong> 加入</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-3">
				<small>Sales in last 24h</small>
				<h2 class="no-margins">206 480</h2>
				<div id="sparkline"></div>
			</div>
		</div>
		<div class="row">
            		<div class="col-lg-12">
						<ul class="notes">
	                        <li>
	                            <div>
	                                <small>2016-12-04 12:03:28</small>
	                                <h4>好久不见</h4>
	                                <p>甚是想念.</p>
	                                <a href="#"><i class="fa fa-trash-o "></i></a>
	                            </div>
	                        </li>
	                        <li>
	                            <div>
	                                <small>2016-04-2016 11:08:33</small>
	                                <h4>明天有约会</h4>
	                                <p>不知道去哪里.</p>
	                                <a href="#"><i class="fa fa-trash-o "></i></a>
	                            </div>
	                        </li>
	                    </ul>
	            	</div>
	        	</div>
	</div>
	<script th:src="@{/js/plugins/sparkline/jquery.sparkline.min.js}"
		src="../static/js/plugins/sparkline/jquery.sparkline.min.js"></script>
	<script>
		$(document).ready(function() {
			$("#sparkline").sparkline([ 34, 43, 43, 35, 44, 32, 44, 48 ], {
				type : 'line',
				width : '100%',
				height : '50',
				lineColor : '#1ab394',
				fillColor : "transparent"
			});
		});
	</script>
</body>
</html>
